.chat {
    // display: none;
    box-shadow: 0px 0px 0px #5f5f5f;
    position: fixed;
    height: 450px;
    left: 100px;
    bottom: 3px;
    background-color: #ffffff;
    z-index: 12;
    // border-radius: 15px;
    // animation-name: zoomInRight;
    animation-duration: 0.5s;
    display: none;
    width: 400px;
    cursor: pointer;
    &.active {
        display: block;
    }

    .chat-msgs {
        // font-size: 1.2em;
        & > * {
            margin-bottom: 10px;
            margin-right: 10px;
            margin-left: 10px;
            .from {
                font-weight: 700;
                margin-inline-end: 10px;
            }
        }
        .avatar {
            width: 20px;
            height: 20px;
        }
    }
    &-main-content {
        position: absolute;
        bottom: 0;
        width: 100%;
    }
    &-topic {
        // margin-bottom: 20px;
        // padding-bottom: 10px;
        // margin-top: 20px;
        // font-size: 1.5em;
        color: #fff;
        align-items: center;
        border-bottom: 1px solid #fff;
        background-image: linear-gradient(135deg, rgb(238, 10, 97), rgb(255, 0, 43));

        .fas {
            // margin-inline-end: 10px;
            cursor: pointer;
        }
    }
    b {
        margin: 0;
        padding: 3px;
        color: #fff;
    }
    hr {
        margin: 0;
    }
    .msg-form {
        width: 100%;
        padding-right: 15px;
        margin-top: 0px;

        .msg-input {
            width: 100%;
            border-top: 4px solid gray;
            border: none;
            margin: 0;

            :focus {
                border: none;
                outline: none;
            }
        }
    }
}
.chat-btn {
    background-color: linear-gradient(135deg, #f02d77, rgb(255, 0, 43));
    width: 60px;
}
