.whati {
    display: flex;
    padding: 10px;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 100;
    background-color: rgba(17, 2, 2, 0.701);
    justify-content: center;
}
.paper {
    width: 800px;
    background-color: white;
    border: 2px solid #000;
    height: 200px;
    // boxShadow: theme.shadows[5],
    position: absolute;
    z-index: 9;
    top: 200px;
    margin-left: 800px;
    transform: translateX(-50%);
    // bottom: 0;
    padding: 30px;
}
.modal-main {
    height: 100px;
    flex-grow: 1;
    min-width: 300px;
    transform: translateX(50%);
    position: absolute;
    @media all and (-ms-high-contrast: none) {
        display: none;
    }
}
// The position fixed scoping doesn't work in IE 11.
// Disable this demo to preserve the others.
.modal {
    display: block; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 8; /* Sit on top */
    left: 0;
    letter-spacing: 1px;
    font-family: "Airbnb Cereal App Medium";
    // transform: translate(50%, 35%);
    top: 60px;
    width: 100%; /* Full width */
    // height: 30px; /* Full height */
    // overflow: auto; /* Enable scroll if needed */
    box-shadow: 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    // background-color: rgb(12, 11, 11);
    // background-color: rgb(0, 0, 0); /* Fallback color */
    // background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-image: linear-gradient(135deg, #f02d77, rgb(255, 0, 43));
    margin: 0 auto; /* 15% from the top and centered */
    padding-top: 2px;
    color: #fefefe;
    text-align: center;
    // border-radius: 5px;
    font-size: 24px;
    // border: 1px solid #888;
    // width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
