.main-footer {
    // background-color: #f62d2d;
    // width: 100%;
    // text-align: center;
    // padding: 5px 0 25px;
    // bottom: 0;
    // position: absolute;
    // height: 40px;
    grid-row: -1;
    .footer-logo {
        font-size: rem(28px);
    }

    small {
        color: $clr6;
    }
    .footer-list {
        li {
            color: $clr6;
            font-weight: 700px;
        }

        li:not(:last-child) {
            margin-inline-end: 85px;
        }
    }
}
