.main-header {
    background-color: #f6eaea;
    // justify-content: space-between;
    position: fixed;
    z-index: 8;
    top: 0;
    width: 100vw;
    padding: 4px 15px 0 15px;
    font-size: 18px;

    // grid-column: 1/-1;
}
.header-logo {
    font-size: rem(28px);
    font-family: "GochiHand-Regular";
    // margin-inline-start: 25px;
    // margin-inline-end: 25px;
}

.header-list {
    .avatar {
        width: 30px;
        height: 30px;
        padding: 0;
        margin: -3px;
    }

    .header-link {
        display: block;
        height: 100%;
        margin-inline-end: 25px;
        padding-top: 5px;
        :hover {
            background-color: blanchedalmond;
            border-radius: 15px;

            color: rgb(22, 17, 10);
        }
    }
}

.logo {
    font-family: Airbnb Cereal App Bold;
}
@media screen and (max-width: $mobile-breakpoint) {
    nav {
        transform: translate(140%, 60%);
        position: absolute;
        left: 0;
        .header-list {
            display: flex;
            flex-direction: column;
            background-color: #fffbfb;
            display: block;

            margin-inline-end: 0;

            .header-link:not(:first-child) {
                border-top: 1px solid gray;
            }
            .header-link {
                width: 150px;
                // margin: 0 auto;
                text-align: center;
                padding: 15px;
            }
        }
    }
    .main-header {
        // div {
        //     width: 100%;
        //     position: absolute;
        // }
        span {
            width: 35px;
            height: 5px;
            background-color: black;
            margin: 2px;
            // border-radius: 3px;

            // z-index: 1;

            // transform-origin: 4px 0px;

            // transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
            //     background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
        }
    }
}
@media screen and (max-width: $narrow-breakpoint) {
    .visible {
        visibility: hidden;
        // position: absolute;
    }
}
