// Colors
$clr1: #626262;
$clr2: #f0590196;
$clr3: #646464;
$clr4: #666666;
$clr5: #4b4e4d;
$clr6: #fff;

// Breakpoints
$mobile-breakpoint: 460px;
$narrow-breakpoint: 720px;
$normal-breakpoint: 960px;
