.main-container {
    height: 100%;
    display: grid;
    grid-template-columns:
        minmax(1.6rem, 1fr)
        minmax(auto, $normal-breakpoint)
        minmax(1.6rem, 1fr);
    // grid-template-rows: 80px 1fr 100px;
    section {
        padding: 165px 200px;
    }
    & > * {
        grid-column: 1/-1;
    }

    @include for-narrow-layout {
        grid-template-columns:
            minmax(1.6rem, 1fr)
            minmax(auto, $mobile-breakpoint)
            minmax(1.6rem, 1fr);
    }

    @include for-normal-layout {
        grid-template-columns:
            minmax(1.6rem, 1fr)
            minmax(auto, $narrow-breakpoint)
            minmax(1.6rem, 1fr);
    }

    @include for-wide-layout {
        grid-template-columns:
            minmax(1.6rem, 1fr)
            minmax(auto, $normal-breakpoint)
            minmax(1.6rem, 1fr);
    }
}
.card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 20px;
}
